body{
    background-color: white;
}
h1{
    text-align: center;
    color:black;
    font-size: 45px;
}
p{
    text-align: center;
    color: gray;
    font-size: 25px;
}
img{
    width: 400px;
    margin-left: 300px;
}
.cabecalho{
background-color: rgb(48, 47, 47);
display: flex;
}
.listacabecalho{
display: flex;
margin-left: 460px;
margin-top: 100px;
}
.itemlistacabecalho{
    list-style: none;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 30px;
}